html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tooltip {
  pointer-events: none;
  position: fixed;
  width: 120px;
  background-color: #555;
  color: #FFF !important;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

